body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.title1 {
  color: white;
  font-size: 400%;
  font-weight: 500;
  font-variant: all-petite-caps;
}
.grid_css{
  margin-top: 1%;
  margin-bottom: 1%;
}
.link_css{
  text-decoration: blink;
  color: black;
}
.list_item_text{
  font-size: x-large;
}
.main_heading{
  font-size: xx-large;
  font-weight: 500;
  font-variant: all-petite-caps;
}
.menu_text {
    color: "white",
}
.drawer {
  width: 280;
  flex-shrink: 0;
  position: sticky;
}

